@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Music App</h1>
</div>
<a asp-action="Index" asp-controller="Albums" class="btn btn-lg btn-info">Go to the albums</a>
<a asp-action="Index" asp-controller="Genres" class="btn btn-lg btn-info">Go to the genres</a>
<a asp-action="Index" asp-controller="Artists" class="btn btn-lg btn-info">Go to the artists</a>